<!DOCTYPE html>
<html lang="en">

<% layout('layouts/boilerplate') %>

    <div class="row">
        <h3 class="text-center"><b>Edit Campground</b></h3>
        <div class="col-8 offset-2">
            <form action="/campgrounds/<%=campground._id%>?_method=put" novalidate class="validated-form" method="POST"
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="from-label" for="title"><b>Title</b></label>
                    <input class="form-control" type="text" id="title" value="<%=campground.title%>"
                        name=campground[title] required>
                    <div class="valid-feedback">Looks Good!</div>

                </div>
                <div class="mb-3">
                    <label class="form-label" for="location"><b>location</b></label>
                    <input class="form-control" type="text" id="location" value="<%=campground.location%> "
                        name=campground[location] required>
                    <div class="valid-feedback">Looks Good!</div>

                </div>

                <label for="category"><b>Category</b></label>
                <select class="form-select shadow-sm  mt-2 mb-2"name="campground[category]" aria-label="Default select example">
                    <option ><b>Select Category</b></option>
                    <option  <%if(campground.category=="hill station" ){ %> selected <% } %> value="hill station">Hill Station</option>
                    <option  <%if(campground.category=="Jungle Sagari" ){ %> selected <% } %> value="Jungle Safari"> Jungle Safari</option>
                    <option  <%if(campground.category=="Tent camping" ){ %> selected <% } %> value="Tent Camping"> Tent Camping</option>
                    <option  <%if(campground.category=="Holiday camping" ){ %> selected <% } %> value="Holiday Camping"> Holiday Camping</option>
                    <option   <%if(campground.category=="Historical place" ){ %> selected <% } %> value="Historical place"> Historical place</option>
                    <option  <%if(campground.category=="Survivalist" ){ %> selected <% } %> value=" Survivalist"> Survivalist</option>
                    <option  <%if(campground.category=="Adventure" ){ %> selected <% } %> value="Adventure"> Adventure</option>
                  </select>



                <div class="mb-3">
                    <label class="form-label" for="price"><b>Campground Price</b></label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label"><b>$</b></span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" value="<%=campground.price%> " name="campground[price]"
                            required>
                        <div class="valid-feedback">Looks Good!</div>

                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description"><b>Description</b></label>
                    <textarea class="form-control" type="text" id="description" name=campground[description]
                        required> <%=campground.description%></textarea>
                    <div class="valid-feedback">Looks Good!</div>

                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="image" id="inputGroupFile02" multiple>
                    <label class="input-group-text" for="inputGroupFile02"><b>Browse</b></label>
                </div>
               

                <label> <b>Delete Images</b> </label>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                            <% campground.image.forEach((image, i) => { %>
                                <div class="col">
                                    <div class="card">
                                        <img class="card-img" src="<%= image.thumbnail %>" alt="">
                                        <div class="card-img-overlay text-end pt-1 pe-2">
                                            <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                            <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= image.filename %>"  id="image-<%= i %>">
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
            

                <div class="mb-3">
                    <button class="btn btn-primary">Update Campground</button>
                </div>
            </form>
          

        </div>
    </div>
    